# Dependency directories
node_modules/

# Build output
dist/
.cache/
.yarn/
.eslintcache

# Report output
coverage/
playwright-report/
test-results/
reports/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tiled-session
.DS_Store
